* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

h1 {
  font-size: 3.4rem;
  font-family: Arial, sans-serif;
}

h1 span {
  color: hsl(35, 100%, 45%);
}

.calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 1.5rem;
  max-width: 50rem;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 2rem;
  font-size: 4rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2.5rem;
}

button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active {
  background-color: hsl(35, 100%, 75%);
}
